
{{#each challenges as |challenge|}}
  {{log challenge}}

  <div class="challenge" data-id="{{challenge.id}}">
    <h2>
      <small>{{challenge.challenge_name}}</small>
    </h2>
    <p>Description:</p>
    <p>{{challenge.description}}</p>
    <p>ID:{{challenge.id}}</p>
  </div>

{{/each}}
