{{#each challenges as |challenge|}}
  {{log challenge}}

  <div class="challenge" data-id="{{challenge.id}}">
    <h3 class="challenge-title">
      {{challenge.challenge_name}}
    </h3>
    <h4 class="challenge-description-header">Description:</h4>
    <p class="challenge-description"> {{challenge.description}}</p>
    {{#if challenge.editable}}
    <p class="editable-text">Editable</p>
    {{/if}}
    <p>ID:{{challenge.id}}</p>
  </div>

{{/each}}
